body{font-family:verdana, arial, sans-serif;font-size:80%;color:#666;text-align:center;background-color:#DDD;margin:0;padding:0}
img{border:0}
p{margin:0.2em 0 1.2em;padding:0.3em}
h1{font-size:250%;font-weight:400;font-style:italic;color:#8CD749;font-family:"Trebuchet MS", verdana, arial, sans-serif;margin:0;padding:0}
h2{background-color:#DDD;color:#3B4471;font-size:100%;font-weight:400;font-style:italic;font-family:"Trebuchet MS", verdana, arial, sans-serif;margin:0.2em;padding:0}
div{display:block;margin:0;padding:0}
a:hover{color:#3B4471;text-decoration:none}
.container{background-color:#FFF;width:65%;margin:0 auto;padding:0}
.titleblock{text-align:left;background-image:url(leaf.jpg);background-repeat:no-repeat;background-position:right center;margin:0;padding:2em}
.titleblock p{text-indent:4em;color:#3B4471}
ul.navbar{list-style-type:none;float:left;display:block;width:100%;line-height:1.5em;clear:both;background-color:#999;margin:0;padding:0}
ul.navbar li{display:inline}
a.nav:hover{display:block;float:left;width:24.5%;text-decoration:none;background-color:#8CD749;color:#FFF;margin:0;padding:1.2em 0}
.rightcontainer{float:right;clear:both;width:13em;margin:1em 0 0;padding:0}
.rightbox{border:1px solid #999;text-align:center;margin:0.5em;padding:0.3em}
.rightcontainer h2{text-align:left;padding:0 0 0 1.5em}
.linkbox a{display:block}
.content{clear:left;text-align:left;margin:1.2em 13.5em 0 0;padding:1em 2ex 2em 2.5ex}
.content h2{text-indent:3em}
.footer{color:#999;font-size:75%;border-top:1px solid #999;text-align:left;clear:both;margin:2.5em 0.2em 0.5em 0.5em;padding:0.8em}
.footer .right{float:right;clear:right;text-align:right}
.footer p{margin:0}
a:link,a:visited,a:active{color:#8CD749;text-decoration:underline}
a.nav:link,a.nav:visited,a.nav:active{display:block;float:left;width:24.5%;text-decoration:none;background-color:#999;color:#FFF;margin:0;padding:1.2em 0}