#nav{float:left;width:100%}
#nav #current { background: #1995C2 url(images/nav.gif) no-repeat 0 -41px; color: #FFF; }
#nav #current a { background: #1995C2 url(images/nav.gif) no-repeat 100% -41px; padding:7px 20px 4px 11px; color:#FFF; }
#nav a{float:none}
#nav a,#nav strong,#nav span{background:url(images/nav.gif) no-repeat 100% 0 #C43219;color:#fff;display:block;float:left;font-weight:700;padding:7px 20px 4px 10px;text-decoration:none}
#nav a:hover{background:url(images/nav.gif) no-repeat 100% 0 #C43219;color:#BFE1ED}
#nav li{background:url(images/nav.gif) no-repeat #C43219;color:#FFF;float:left;margin:0;padding:0 0 0 9px}
#nav ul{list-style:none;margin:0;padding:0}
.article{margin-bottom:20px;padding:0 5px 0 0}
.box{background:#FFF;border-left:2px solid #F0F0F0;border-right:2px solid #F0F0F0;color:#595959;margin:0;padding:0 4px 0 7px;width:144px}
.box_bottom{background:url(images/leftbox_bottom.gif) no-repeat #FFF;color:#000;height:13px;margin:0 0 7px;width:160px}
.box_top{background:url(images/leftbox_top.gif) no-repeat #F0F0F0;color:gray;height:40px;width:159px}
.box_top h2{background:inherit;color:gray;margin:0;padding:7px 0 0 5px}
.content{background:url(images/big_middle.gif) repeat-y #FFF;color:#454545;margin:10px auto;width:768px}
.footer{background:#f0f0f0;border-top:1px solid #eee;clear:both;color:gray;padding:10px 0 5px;text-align:center}
.footer a{background:#f0f0f0;border-bottom:1px dotted gray;color:#4F4F4F;text-decoration:none}
.footer p{line-height:2em}
.grey{background:url(images/grey_bottom.gif) no-repeat bottom left #EDEDED;color:#454545;margin:0 0 0 6px;padding:10px;width:362px}
.grey a{background:inherit;color:#C83C3C;font-weight:700}
.grey a:hover{background:#EDEDED;color:#000}
.grey_top{background:url(images/grey_top.gif) no-repeat #EDEDED;clear:both;color:#000;height:5px;margin:0 0 0 6px;padding:0;width:382px}
.header{padding:0 10px}
.header_bottom{background:url(images/big_bottom.gif) no-repeat #FEFEFE;clear:both;color:#FFF;height:15px}
.header_top{background:url(images/big_top.gif) no-repeat #FEFEFE;color:#FFF;height:15px}
.rss{border-bottom:1px solid #ccc;margin:0 0 3px;padding:5px 3px}
.left{float:left;margin:0 0 10px;width:595px}
.left_side{float:left;padding:0 5px 8px 8px;width:159px}
.logo{padding:18px 0 0 3px}
.navitem{font-size:11px;line-height:14px;padding-left:8px}
.navtitle{color:#000;font-size:13px;font-weight:700;text-decoration:underline}
.right{float:right;margin:0 0 10px;width:170px}
.right_side{float:right;margin:0 5px 0 0;text-align:justify;width:405px}
.sf_left{background:url(images/logobg.gif) repeat-x #5BB2D1;border-bottom:1px solid #000;border-top:1px solid #137DA2;color:#FFF;float:left;height:77px;padding:10px 0 0 7px;width:203px}
.sf_right{float:right;width:537px}
.sf_search{background:url(images/searchbg.gif) repeat-x bottom left #CA090D;border-bottom:1px solid #000;border-top:1px solid #AA1717;clear:both;color:#FFE4E0;margin-top:-2px;padding:18px 0 17px 15px}
.subheader{background:#f0f0f0;color:gray;padding:8px}
a,a:hover{background:inherit;color:#0E4D8B}
a.title{background:#FFF;color:#B41A1A}
body{background:#F0F0F0;color:#454545;font:0.7em Arial, sans-serif;line-height:1.5em;margin:0;padding:0}
form{margin:0}
h1{font:bold 2em Arial, Sans-Serif;letter-spacing:-1px;margin:0;text-align:center;}
h1 a{background:inherit;color:#FFF}
h1 a,h2 a{text-decoration:none}
h1 a:hover,h2 a:hover{background:inherit;color:#BFE1ED}
h2{font:normal 1.6em Arial, Sans-Serif;letter-spacing:-1px;margin:0;padding:0}
h3{background:#FFF;color:#5f5f5f;font:90% Arial, Sans-Serif;margin:0 0 10px;padding:0}
img{float:left;margin:0 9px 3px 0}
input.search{background:url(images/input.gif) #FFF;border:none;color:gray;padding:4px;width:199px}
input.submit{background:url(images/button.gif) #D96855;border:none;color:#FFF;font-weight:700;height:24px;padding:3px;width:53px}
p{line-height:1.5em;margin:0}
.results{padding-left:3px;line-height:13px}
.results span{text-decoration:underline;font-weight: bold}