/*---:[ main css ]:---*/

html, body {
	margin: 0px;
	padding:0px;
	background-image:url(images/bg.gif);
	font: 0.9em Georgia, "Times New Roman", Times, serif;
}

h1, h2, h3, h4, h5, h6, p, form {
	margin: 0px;
	padding:0px;
}

h2 {
	font-size:24px;
	color:#EE8907;
	padding-bottom:5px;
}

#wrapper {
	width:800px;
	margin:0px auto;
	background-color:#FFF;
}

#content {
	width:778px;
	margin:0px auto;
	background-image:url(images/bg_header_top.gif);
	background-repeat:repeat-x;
	background-position:top;
}

	/*---:[ header css ]:---*/

#header {
	height:96px;
}

#logo {
	width:258px;
	float:left;
}

#logo h1{
	font-size:26px;
	color:#F76B0C;
	font-weight:normal;
	text-decoration:none;
	padding-left:40px;
	padding-top:30px;
}

#logo h4 {
	color:#808080;
	font-weight:normal;
	text-decoration:none;
	padding-left:75px;
}

#links ul {
	margin:0px; 
	padding-top:67px;
}

#links li{
	float:left;
	list-style-type:none;
	width:129px;
	height:25px;
	text-align:center;
	background-color:#F4A80A;
	border-left:1px solid #FFF;
	padding-top:4px;
}

#links a{
	color:#fff;
	font-weight:normal;
	text-decoration:none;
}

#links a:hover{
	color:#fff;
	font-weight:normal;
	text-decoration:underline;
}

#mainimg {
	background-image:url(images/main_img.jpg);
	background-repeat:no-repeat;
	height:132px;
	text-align:right;
}

#mainimg h3 {
	font-size:48px;
	color:#fff;
	font-weight:normal;
	text-decoration:none;
	padding:20px 40px 0px 0px;
}

#mainimg h4 {
	font-size:18px;
	color:#fff;
	font-weight:normal;
	text-decoration:none;
	padding:0px 40px 0px 0px;
}

#contentarea {
	clear:both;
	padding:25px 0px;
}

	/*---:[ footer css ]:---*/

#bottom {
	clear:both;
	height:32px;
	padding-top:25px;
}

#email {
	float:left;
	width:400px;
	background-color:#9BBE00;
	height:27px;
	padding-top:5px;
}

#email span{
	color:#fff;
	padding:0px 40px;
}

#email a, a:visited {
	color:#fff;
	font-weight:normal;
	text-decoration:underline;
}
#email a:hover {
	text-decoration:none;
}
#validtext {
	float:left;
	width:378px;
	background-color:#9BBE00;
	height:27px;
	padding-top:5px;
}

#validtext p{
	color:#fff;
	font-weight:normal;
	text-decoration:none;
	text-align:right;
	padding-right:35px;
}

#validtext a{
	color:#fff;
	font-weight:normal;
	text-decoration:underline;
}

#validtext a:hover{
	color:#fff;
	font-weight:normal;
	text-decoration:none;
}

/*---:[ index.php & page.php css ]:---*/

#padding-left {
	padding-left: 40px;
	padding-right: 20px;
}

#padding-right {
	padding-left: 20px;
	padding-right: 40px;
}

#leftbar {
	float:left;
	width:539px;
	border-right:1px solid #BCBDBC;
	color:#797B7A;
	font-weight:normal;
	text-decoration:none;
}

#leftbar h2 {
	color:#EE8907;
}

#leftbar a {
	color:#EE8907;
	font-weight:bold;
	text-decoration:none;
}

#leftbar a:hover {
	color:#000;
	font-weight:bold;
	text-decoration:none;
}

#rightbar {
	float:left;
	width:237px;
}

#rightbar h2{
	color:#797B7A;
}

#rightbar a:hover {
	color:#000;
	font-weight:bold;
	text-decoration:none;
}

#rightbar a, a:visited {
	color:#000;
}

#rightbar p{
	color:#797B7A;
	font-weight:normal;
	text-decoration:none;
}

/*---:[ sitemap.php css ]:---*/

#sitemap {
	color:#797B7A;
	text-decoration:none;
}
#sitemap h1 {
	padding-top:5px;
	padding-bottom:5px;
}
#sitemap-padding{
	padding-left: 40px;
	padding-right: 40px;
}
#sitemap a, a:visited {
	color:#000;
}
#sitemap a:hover {
	color:#000;
	font-weight:bold;
	text-decoration:none;
}
#menu {
	text-align:center;
}
#menu a { 	
	font-size:18px;
	color:#551a8b;
	font-weight: bold;
	text-decoration:none;
}
#menu a:hover { 	
	color:#000000;
}

/*---:[ contact-us.php css ]:---*/

#contact-us-padding{
	padding-left: 40px;
	padding-right: 40px;
}

#contact-us-padding table { 
	margin-left: auto;
	margin-right: auto;
}

/*---:[ index.php table css ]:---*/

#table img { border-width: 5px; border-color: #9bbe00; }
#table a { 	
	font-size:18px;
	color:#551a8b;
	font-weight: bold;
	text-decoration:none;
}
#table a:hover { 	
	color:#000000;
}