<?php //CONFIG FILE

////////////////////////////////////////////////////////////////////
//////////////////////////// YACG CONFIGURATION ////////////////////
////////////////////////////////////////////////////////////////////

$version = '3.03'; // [YACG] Yet Another Content Generator Version

// FOOTPRINTS
define('DEBUG', true); // true/false - VERBOSE ERROR OUTPUT/NO ERROR OUTPUT
define('ROOT_DIR', './renamethisfolder/'); // ROOT FOLDER NAME

// URL CONFIGURATION
define('FILE_EXT', '.html'); // FILE EXTENSION TO ADD TO THE URLS
define('PERMALINK', 'blog/'); // CUSTOM PERMALINKS
// -- Examples:
// -- /2008/01/20/
// -- /pages/
// -- /wp-content/
// CATEGORIES
define('CATEGORIES', true); // SPLIT KEYWORDS INTO CATEGORIES
define('CAT_NUM', '6'); // IF KEYWORDS ARE NOT CATEGORIZED, AUTOMATICALLY SPLIT INTO 'CAT_NUM' CATEGORIES(false - random, between 5 and 15)

// SITE PROPERTIES
define('SITE_NAME', 'Your Site'); // SITE NAME
define('SITE_DESCRIPTION', 'Your description'); // DESCRIPTION OF YOUR SITE
$pages = array('sitemap','contact-us'); //SITE PAGES
define('PASSWORD', '12345'); // ADMIN PASSWORD
define('EMAIL', 'your@email.com'); // ADMIN EMAIL (FOR CONTACT-US.PHP)
define('FILEMODE', 0777); //DEFAULT FILE MODE

// UTF-8 SUPPORT
define('UTF', false); // true/false - UTF-8 SUPPORT ON/OFF
// HOW TO HANDLE UTF-8 STRINGS IN URLS
define('TRANSLIT', false); // true/false - TRANSLITERATE UTF-8 STRINGS
define('TRANSLIT_ADVANCED', false); // true/false - TURN ADVANCED TRANSLITERATION ON/OFF(if turned off only accents will be transliterated)

// SITE LIFESPAN
define('START_KEYS', '3'); // HOW MANY KEYS TO START WITH(false - publish all at once)
define('DAILY_MIN', '3'); // AT LEAST THIS MUCH KEYWORDS WILL BE ADDED EACH DAY
define('DAILY_MAX', '10'); // BUT NO MORE THAN THAT
// CACHE CONTROL
define('CACHE', false); // true/false - CACHING ON/OFF
define('CACHE_AUTO', false); // CACHE PAGES AS THEY ARE BEING ADDED TO THE KEYWORDS.TXT('START_KEYS' SHOULD BE SET FOR THIS TO WORK)
define('CACHE_TIME', '15552000'); // CACHE EXPIRE TIME (IN SECONDS)
define('LOCAL_IMAGE_CACHE', './img/'); // LOCATION OF THE IMAGE CACHE(E.G. FOR FLICKR HOOK)
define('INDENT', true); // true/false - INDENT/DON'T INDENT THE HTML CODE

// HOOKS
define('PICK_HOOKS', false); // SET TO TRUE TO LOAD ONLY HOOKS YOU NEED
$hooks = array('google_adsense.php', 'articles_table.php', 'markov.php', 'wikipedia.php', 'social_bookmarking.php', 'flickr.php', 'youtube.php'); // ONLY THESE HOOKS WILL BE LOADED IF 'PICK_HOOKS' IS TRUE
define('FEED_HOOK', 'markov'); // USE CACHED OUTPUT OF THIS HOOK TO GENERATE RSS FEED EXCERPTS

// DEFINE CLOAKING LEVEL
define('CLOAKING_LEVEL', '4'); // 0/1/2/3/4 - ALWAYS CLOAK/OFTEN CLOAK/SOMETIMES CLOAK/RARELY CLOAK/NEVER CLOAK

// CONFIGURE SCRAPING
define('USER_AGENT', 'Mozilla/5.0 (Windows; U; Windows NT 5.1; en-US; rv:1.8.1.11) Gecko/20071127 Firefox/2.0.0.11'); // USER-AGENT USED TO SCRAPE CONTENT
define('PROXY', false); // true/false - USE/DON'T USE A PROXY FOR ALL THE SCRAPING
define('PROXY_IP', '127.0.0.1'); // PROXY IP
define('PROXY_PORT', '8080'); // PROXY PORT

// SYSTEM FILES/FOLDERS PATHS
define('LOCAL_CACHE', ROOT_DIR.'cache/'); // LOCATION OF THE CACHE
define('LOCAL_ARTICLES', ROOT_DIR.'articles/'); // LOCATION OF THE ARTICLES
define('LOCAL_TEMPLATE', ROOT_DIR.'pages/'); // LOCATION OF THE PAGES
define('LOCAL_HOOKS', ROOT_DIR.'hooks/'); // LOCATION OF THE HOOKS
define('FILE_BOTS', ROOT_DIR.'ips.txt'); // LOCATION OF THE BOT LIST FILE
define('FILE_KEYWORDS', ROOT_DIR.'keywords.txt'); // LOCATION OF THE KEYWORDS FILE
define('FILE_KEYWORDS_TMP', ROOT_DIR.'keywords.tmp.txt'); // LOCATION OF YET TO BE ADDED KEYS
define('FILE_KEYWORDS_TR', ROOT_DIR.'keywords.tr.txt'); // LOCATION OF TRANSLITERATED KEYS
define('FILE_CATEGORIES', ROOT_DIR.'categories.txt'); // LOCATION OF THE CATEGORIES LIST
define('FILE_CATEGORIES_TR', ROOT_DIR.'categories.tr.txt'); // LOCATION OF THE TRANSLITERATED CATEGORIES LIST

////////////////////////////////////////////////////////////////////
///////////////////////////// HOOK CONFIGURATION ///////////////////
////////////////////////////////////////////////////////////////////

// GENERAL SETTING FOR ALL ADVERTISING HOOKS
define('SHOW_ADS', true); // true/false - DISPLAY/DON'T DISPLAY ADS

// FLICKR AND YAHOO IMAGES HOOKS
define('FLICKR_API', false); // FLICKR API
define('YAHOO_API', 'YahooDemo'); // YAHOO API

// GOOGLE ADSENSE HOOK
define('GOOGLE_ADSENSE_PUBID', 'pub-XXXXXXXXXXXXXX'); // GOOGLE ADSENSE PUB_ID
define('GOOGLE_ADSENSE_ADCHANNEL', 'XXXXXXXXXXXXXX'); // GOOGLE ADSENSE CHANNEL
// PEAKCLICK HOOK
define('PEAKCLICK_AFF', 'XXXX'); // PEAKCLICK AFFILIATE ID
define('PEAKCLICK_SUBAFF', ''); // PEAKCLICK SUBAFFILIATE ID
define('PEAKCLICK_THUMBS', true); // true/false - DISPLAY/DON'T DISPLAY THUMBNAILS
// UMAX HOOK
define('UMAX_AFF', 'xxxxx'); // UMAX AFFILIATE ID
define('UMAX_SUBAFF', 'xxxx'); // UMAX SUBAFFILIATE ID
// AUCTION ADS HOOK
define('AUCTIONADS_ADCLIENT', 'xxxx'); // AUCTIONADS ADCLIENT
define('AUCTIONADS_ADCAMPAIGN', 'xxxx'); // AUCTIONADS ADCAMPAIGN
// GOOGLE ANALYTICS HOOK
define('GOOGLE_ANALYTICS_ACCOUNT', 'XXXXXXXXXXX'); // GOOGLE ANALYTICS ACCOUNT NUMBER
// STATCOUNTER HOOK
define('STATCOUNTER_PROJECT', 'XXXXXXXXX'); // PROJECT NUMBER
define('STATCOUNTER_PARTITION', 'XX'); // PARTITION NUMBER
define('STATCOUNTER_SECURITY', 'XXXXXX'); // SECURITY NUMBER
// BOOKMARKING HOOK
define('DIGG', true); // DIGG.COM
define('DELICIOUS', true); // DEL.ICIO.US
define('REDDIT', true); // REDDIT.COM
define('TECHNORATI', true); // TECHNORATI.COM
define('FURL', true); // FURL.NET
define('ASK', true); // ASK.COM
define('GOOGLE', true); // GOOGLE.COM
define('YAHOO', true); // MYWEB2.SEARCH.YAHOO.COM
?>